default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: to_do_app_development

test:
  <<: *default
  database: to_do_app_test

production:
  <<: *default
  database: dfnk07b0fief5f
  username: fjjaxaacymmfqv
  password: <%= ENV['TO_DO_APP_DATABASE_PASSWORD'] %>